body {
    background-color: none;
    font-family: "Roboto", sans-serif;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/176/413/original/pexels-jess-vide-6388954.jpg?1765042923);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}

   
  .search-input {
    width: 500px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;  
  }

  .search-button {
    padding: 10px 15px;
    background-color: #4c77af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1;
  }

 .weather-app {
    background-color: none;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;     
    padding: 40px;
}

header {
   margin-bottom: 30px;
}

main    {
    padding: 40px 0;
}

.current-weather-temp {
    font-size: 48px;
    font-weight: bold;
    display: flex;
}

.current-city {
   font-size: 55px;
   position: relative;
   left: 30px;
   margin:auto;
    
}

.icon {
    width: 100px;
    height: 100px;
    position: relative;
    
}

.current-temp-value {
    font-size: 80px;
    position: relative;
    top: -110px;
    left: 120px;    
    
}

.current-temp-unit {
    font-size: 25px;
    position: relative;
    left: 200px;
    bottom: 200px;   
   
}

.current-weather-conditions {
    display: flex;
    justify-content: space-between;
}

  .current-conditions {
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.5;
    position: relative;
    left: 170px;
    top: 40px;
    
}

.current-conditions strong {
    color: #f65282;
   
}

.range-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.range-forecast-date {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 0, 0);
    line-height: 20px;
    margin-bottom: 10px;

}

.range-forecast-icon {
    font-size: 38px;
    text-align: center;
}

.range-forecast-temperatures {
   text-align: center;
   display: flex;
   justify-content: center;
   color: rgb (255, 0, 0);
   margin-top: 10px;
}

.range-forecast-temperature {
    padding: 0 10px;
    }

.range-forecast-temperature strong {
    color: rgb(255, 0, 0);
}

footer {
    border-top: 1px solid lightslategray;
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 12px;
    padding-top: 15px;
}
