body {
    background-color: none;
    font-family: "Roboto", sans-serif;
    background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/176/413/original/pexels-jess-vide-6388954.jpg?1765042923);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}

   
  .search-city {
    width: 500px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;  
  }

  .search-button {
    padding: 10px 15px;
    background-color: #4c77af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1;
  }

 .weather-app {
    background-color: none;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;     
    padding: 40px;
}

header {
   margin-bottom: 30px;
}

main    {
    padding: 40px 0;
}

.current-weather-temp {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
    display: flex;  
    align-items: center;

}

.current-city {
    font-size: 48px;
    margin: 0;
}

.current-temp-icon {
    position: relative;
    top: -10px;
    font-size: 45px;
    margin-right: 10px;
}

.current-temp-value {
    font-size: 80px;
    font-weight: bold;
}

.current-temp-unit {
    font-size: 20px;
    position: relative;
    top: -42px;
}


  .current-conditions {
    font-size: 16px;
    margin: 40px 5px;
    line-height: 1.5;
    position: relative;
    left: 100px;
    
}

.current-conditions strong {
    color: #f65282;
   
}

footer {
    border-top: 1px solid lightslategray;
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 12px;
    padding-top: 15px;
}
