body {
    background-color:#f9f7fe;
    font-family: "Roboto", sans-serif;
            
}

.weather-app {
    background-color: white;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;     
    padding: 40px;
}